.features {
   
    margin-bottom: 5px;
    font-size: 10pt;
    display: flex;
    flex-flow: row nowrap;

  .items {
    margin-bottom: 7px;
    margin-left: 10px;
  }

  .features-label {
    margin-bottom: 3px;
    font-size: 12pt;
    font-weight: 600;
    justify-self: baseline;
    align-self: flex-start;
  }

}