.project {

  margin-bottom: 12px;
  padding: 5px 0px 0px 7px;

  background-color: #c7c5c5;
  border-left: 2px solid black;
  border-radius: 0 10px 10px 0;
  width: auto;

  .name {
    font-size: 13pt;
    font-weight: bold;
    padding-right: 7px;
    display: inline;
  }

  .description {
    margin-bottom: 3px;
    font-size: 11pt;
    margin-right: 5px;
  }

  .features-container {
    display: flex;
    flex-flow: row nowrap;
  }

  .features-label {
    margin-bottom: 3px;
    font-size: 12pt;
    font-weight: bold;
    justify-self: center;
    align-self: flex-start;
  }

  .features {
    margin-left: 15px;
    margin-bottom: 5px;
  }
}