.project {

  margin-bottom: 12px;
  padding: 5px 0px 0px 0px;
  width: auto;

  .name {
    font-size: 13pt;
    font-weight: 600;
    padding-right: 7px;
    display: inline;
  }

  .description {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 11pt;
    margin-right: 5px;
  }

  .features-container {
    display: flex;
    flex-flow: row nowrap;
  }

  .features-label {
    margin-bottom: 3px;
    font-size: 12pt;
    font-weight: 600;
    justify-self: baseline;
    align-self: flex-start;
  }

  .features {
    margin-left: 15px;
    margin-bottom: 5px;
  }
}