.tech-stack {

  padding-left: 10px;
  border-left: 2px solid black;
  margin-bottom: 10px;

  font-size: 0.8rem;

  .tech-stack-label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: bold;
  }

  .items {

    max-width: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
}